.App {
  text-align: center;
  height: 100%;

  .content {
    width: 800px;
    height: 100%;
    margin: 100px auto 60px;
    box-shadow: 5px 5px 8px -5px rgba(0,0,0,0.34);
    border-left: 2px solid #45C3DF;
    position: relative;
  }
}
