.progress-bar {
    width: 100%;

    &__credit-limit {
        margin-bottom: 0.5rem;
        color: #436374;
        font-weight: 500;
        font-size: 0.875rem;
    }

    @mixin progress-bar {
        width: 100%;
        height: 6px;
        border-radius: 6px;
        background-color: #CCD5DA;
        border: 0;
    }

    @mixin progress-bar-inner {
        border-radius: 6px;
        width: 40%;
        height: 100%;
        background-color: orange;
    }

    progress {
        @include progress-bar;

        &::-webkit-progress-bar {
            @include progress-bar;
        }

        &::-webkit-progress-value {
            @include progress-bar-inner;
        }

        &::-moz-progress-bar {
            @include progress-bar-inner;
        }
    }

    &__drawn {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #F8B803;
    }

    &__available {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #CCD5DA;
    }
}