// FLEX
.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.left {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}

.wrap {
    flex-wrap: wrap;
}

.v-center {
    align-items: center;
}

.v-top {
    align-items: flex-start;
}

.v-bottom {
    align-items: flex-end;
}

// TEXT ALIGNMENT
.txt-align-left {
    text-align: left;
}

.txt-align-center {
    text-align: center;
}

.txt-align-right {
    text-align: right;
}

.txt-align-justify {
    text-align: justify;
}

// BORDERS
.border-bottom {
    border-bottom: 1px solid #F1F4F4;
}

// VISIBILITY
.hidden {
    visibility: hidden;
}

.none {
    display: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

// TYPOGRAPHY
.bold {
    font-weight: bold;
}

.light {
    font-weight: 400;
}

.f-s-10 {
    font-size: 0.625rem;
}

.f-s-11 {
    font-size: 0.6875rem;
}

.f-s-12 {
    font-size: 0.75rem;
}

.f-s-13 {
    font-size: 0.8125rem;
}

.f-s-14 {
    font-size: 0.875rem;
}

.f-s-15 {
    font-size: 0.9375rem;
}

.f-s-16 {
    font-size: 1rem;
}

// POSITIONING
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}