
// FLEX
.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

// TEXT ALIGNMENT
.txt-align-left {
    text-align: left;
}

.txt-align-center {
    text-align: center;
}

.txt-align-right {
    text-align: right;
}

.txt-align-justify {
    text-align: justify;
}

// BORDERS
.border-bottom {
    border-bottom: 1px solid #F1F4F4;
}

$max: 50;
$offset: 5;
$unit: 'px';
@mixin list-loop($className, $styleName) {
  $i: 0;
  @while $i <= $max {
    #{$className + $i} { 
      #{$styleName}: #{$i + $unit};
    }
    $i: $i + $offset;
  }
}
@include list-loop('.p-l-', 'padding-left');