// FLEX
.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

// TEXT ALIGNMENT
.txt-align-left {
    text-align: left;
}

.txt-align-center {
    text-align: center;
}

.txt-align-right {
    text-align: right;
}

.txt-align-justify {
    text-align: justify;
}

// BORDERS
.border-bottom {
    border-bottom: 1px solid #F1F4F4;
}

// VISIBILITY
.hidden {
    visibility: hidden;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

// TYPOGRAPHY
.bold {
    font-weight: bold;
}

// POSITIONING
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}