$max: 50;
$offset: 5;
$unit: 'rem';

@mixin rem-spacing($className, $styleName) {
  $i: 0;
  @while $i <= $max {
    #{$className + $i} { 
      #{$styleName}: #{($i / 16) + $unit} !important;
    }
    $i: $i + $offset;
  }
}

// Margins
@include rem-spacing('.m-t-', 'margin-top');
@include rem-spacing('.m-r-', 'margin-right');
@include rem-spacing('.m-b-', 'margin-bottom');
@include rem-spacing('.m-l-', 'margin-left');
@include rem-spacing('.m-', 'margin');

// Paddings
@include rem-spacing('.p-t-', 'padding-top');
@include rem-spacing('.p-r-', 'padding-right');
@include rem-spacing('.p-b-', 'padding-bottom');
@include rem-spacing('.p-l-', 'padding-left');
@include rem-spacing('.p-', 'padding');
